<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd ">

    <!--扫描基包-->
    <context:component-scan base-package="java">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--配置dataSources-->
    <context:property-placeholder  location="classpath:db.properties" system-properties-mode="FALLBACK"></context:property-placeholder>
    <bean class="com.alibaba.druid.pool.DruidDataSource" id="source">
        <property name="driverClassName" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
    </bean>

    <bean class="org.mybatis.spring.SqlSessionFactoryBean" >
        <property name="configLocation" value="classpath:config.xml"></property>
        <property name="mapperLocations" value="classpath*:mapper/*.xml"></property>
        <property name="dataSource" ref="source"></property>
    </bean>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="dao"></property>
    </bean>

</beans>